<li>
    <a href="https://www.reddit.com/user/andrewcstewart">
      <i class="fa fa-fw fa-reddit" aria-hidden="true"></i> Reddit
    </a>
</li>
<li>
    <a href="https://medium.com/@andrewcstewart">
      <i class="fa fa-fw fa-medium" aria-hidden="true"></i> Medium
    </a>
</li>
<li>
    <a href="https://public.tableau.com/profile/andrew.stewart5476#!/">
      <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i> Tableau
    </a>
</li>
<li>
    <a href="https://trello.com/andrewcstewart">
      <i class="fa fa-fw fa-trello" aria-hidden="true"></i> Trello
    </a>
</li>
<li>
  <a href="https://open.spotify.com/user/123043286>">
    <i class="fa fa-fw fa-spotify" aria-hidden="true"></i> Spotify
  </a>
</li>